<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>drinkanddelight</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>It displays all Raw Material orders </description>
    <display-name>DisplayAllRawMaterialOrdersServlet</display-name>
    <servlet-name>DisplayAllRawMaterialOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayAllRawMaterialOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllRawMaterialOrdersServlet</servlet-name>
    <url-pattern>/DisplayAllRawMaterialOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>It displays all Product orders</description>
    <display-name>DisplayAllProductOrdersServlet</display-name>
    <servlet-name>DisplayAllProductOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayAllProductOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllProductOrdersServlet</servlet-name>
    <url-pattern>/DisplayAllProductOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>First page</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>this is for registration of an employee</description>
    <display-name>RegistrationPageServlet</display-name>
    <servlet-name>RegistrationPageServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.RegistrationPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationPageServlet</servlet-name>
    <url-pattern>/RegistrationPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceRMorderServlet</display-name>
    <servlet-name>PlaceRMorderServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.PlaceRMorderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceRMorderServlet</servlet-name>
    <url-pattern>/PlaceRMorderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceProductOrderServlet</display-name>
    <servlet-name>PlaceProductOrderServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.PlaceProductOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceProductOrderServlet</servlet-name>
    <url-pattern>/PlaceProductOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayProductOrdersServlet</display-name>
    <servlet-name>DisplayProductOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayProductOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProductOrdersServlet</servlet-name>
    <url-pattern>/DisplayProductOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayDispatchedProductOrdersServlet</display-name>
    <servlet-name>DisplayDispatchedProductOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayDispatchedProductOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDispatchedProductOrdersServlet</servlet-name>
    <url-pattern>/DisplayDispatchedProductOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCancelledProductOrders</display-name>
    <servlet-name>DisplayCancelledProductOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayCancelledProductOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCancelledProductOrdersServlet</servlet-name>
    <url-pattern>/DisplayCancelledProductOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayReceivedProductOrdersServlet</display-name>
    <servlet-name>DisplayReceivedProductOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayReceivedProductOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayReceivedProductOrdersServlet</servlet-name>
    <url-pattern>/DisplayReceivedProductOrdersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPendingProductOrdersServlet</display-name>
    <servlet-name>DisplayPendingProductOrdersServlet</servlet-name>
    <servlet-class>com.capgemini.dnd.servlets.DisplayPendingProductOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPendingProductOrdersServlet</servlet-name>
    <url-pattern>/DisplayPendingProductOrdersServlet</url-pattern>
  </servlet-mapping>
</web-app>